---
---

.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0;
}

.figure-image {
  display: contents;
}

.figure-image img {
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.figure-caption {
  font-style: italic;
  text-align: center;
}


figure.figure {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

figure.figure img {
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  object-fit: cover !important;
}
