{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{%- comment -%}
Normalize accidental array link input
{%- endcomment -%}

{% if button.link and button.link.first and button.link.last %}
  {% assign button.link = button.link | last %}
{% endif %}

{%- comment -%}
Apply $VALUE replacement if needed
{%- endcomment -%}

{% if button.link contains "$VALUE" and include.link %}
  {% assign button.link = button.link | replace: "$VALUE", include.link %}
{% endif %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">

    {% assign link = button.link %}

    {% unless link contains "://" or link contains "mailto:" or link contains "tel:" %}
      {% assign link = link | relative_url %}
    {% endunless %}

    <a
      class="button"
      href="{{ link }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>

  </div>
{% endif %}
